@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "montserrat";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #D9DBE9;
}
.navbar h1 {
  font-size: 24px;
  color: #d65179;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: rgb(20, 20, 20);
}
.navbar a:hover {
  color: #d65179;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
